*{
    box-sizing: border-box;
    background-color: rgba(233, 237, 240, 0.459);
}
body{
    font-size: large;
    font-weight: 600;
    font-style: italic;
    padding: 8px;
}
 h1{
    text-align: center;
    background-color:rgb(145, 186, 82) ;
    padding: 20px 35px;
}
input[type="text"],
input[type="email"],
textarea{
    width:100%;
    padding: 12px;
    border: 1px solid black;

}
input[type="submit"]{
    background-color: aqua;
    padding: 5px;
}


